{% extends "layout.html.twig" %}

{% block head %}
    <meta http-equiv="refresh" content="5; URL={{ path('homepage') }}">
{% endblock %}

{% block content %}
    <p>{{ photo.cDirName }} | {{ photo.cFileName }} | {{ photo.YearMonthDay }}</p>
    <img src="{{ path('image', {'image': photo.iPictureId }) }}">
{% endblock %}
